<div class="overflow-x-auto">
  <table class="w-full">
    <thead>
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr class="border-b border-border">
          @for (header of headerGroup.headers; track header.id) {
            <th class="text-left px-4 py-3">
              @if (!header.isPlaceholder) {
                <ng-container
                  *flexRender="
                    header.column.columnDef.header;
                    props: header.getContext();
                    let headerText
                  "
                >
                  <span
                    class="font-body text-[11px] font-semibold uppercase tracking-wider text-muted"
                  >
                    {{ headerText }}
                  </span>
                </ng-container>
              }
            </th>
          }
        </tr>
      }
    </thead>
    <tbody>
      @for (row of table.getRowModel().rows; track row.id) {
        <tr class="border-b border-border hover:bg-background/50">
          @for (cell of row.getVisibleCells(); track cell.id) {
            <td class="px-4 py-3">
              @if (cellTemplates()[cell.column.id]; as tpl) {
                <ng-container
                  *ngTemplateOutlet="tpl; context: { $implicit: row.original }"
                ></ng-container>
              } @else {
                <ng-container
                  *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cellText"
                >
                  <span class="font-body text-sm text-text">{{ cellText }}</span>
                </ng-container>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- Pagination -->
<!-- <div class="flex items-center justify-between px-4 py-3 border-t border-border">
  <span class="font-body text-xs text-muted">
    Page {{ table.getState().pagination.pageIndex + 1 }} of {{ table.getPageCount() }}
    · {{ table.getFilteredRowModel().rows.length }} total
  </span>
  <div class="flex items-center gap-1.5">
    <button
      (click)="table.previousPage()"
      [disabled]="!table.getCanPreviousPage()"
      class="w-8 h-8 rounded-lg border border-border flex items-center justify-center disabled:opacity-40"
    >
      <svg [lucideIcon]="icons['chevLeft']" [size]="14"></svg>
    </button>
    <button
      (click)="table.nextPage()"
      [disabled]="!table.getCanNextPage()"
      class="w-8 h-8 rounded-lg border border-border flex items-center justify-center disabled:opacity-40"
    >
      <svg [lucideIcon]="icons['chevRight']" [size]="14"></svg>
    </button>
  </div>
</div> -->
